# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ConsoleApplication1/FileContentIndex/723929a9-6a5b-4ebd-8318-2ac13372e875.vsidx
/.vs/ConsoleApplication1/v17
/.vs/ConsoleApplication1/FileContentIndex
